

//LAYOUT

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.items-center{
    align-items: center;
}


.btn-container {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--about{
        width: 65% !important;
        justify-content: flex-start;
        height: 3.25rem !important;
        margin-bottom: .75rem;
        
        & > *{
            font-size: 1.15rem;
            
        }
    }

    .btn__download {
      height: 3.75rem;
      width: 96%;
      border: none;
      background-color: red;
      color: white;
      border-radius: 0.2rem;
      padding: 1rem 0rem;
      letter-spacing: 0.5px;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      transition: all 0.05s ease-in-out;

      &:hover {
        animation: wobbleGrow 0.5s ease-in-out;
        width: 100%;
        height: 4.25rem;
        background-color: rgb(154, 0, 0);
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }