@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,500&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.test {
  outline: 1px solid red !important;
  background-color: lightblue !important;
}

.app-container {
  position: relative;
  height: auto;
  width: 100%;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.text-header {
  font-size: 1.35rem;
  line-height: 1.5rem;
}

.text-subheader {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}

.text-regular {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.15rem;
}

.text-small {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1rem;
  color: #555;
}

.footer__links--title {
  font-size: 1.15rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer__links--link {
  font-size: 1rem;
  color: red;
  font-weight: 500;
  cursor: pointer;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.header-container {
  height: 7rem;
  width: 100%;
  position: relative;
}

.header > * {
  z-index: 100 !important;
}

.header {
  height: 7rem;
  z-index: 100 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
.header__top {
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: row;
}
.header__top .logo {
  height: 100%;
  width: auto;
  position: relative;
  background-color: red;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}
.header__top #header-logo {
  margin: 0 auto;
  font-size: 0.8rem;
  border: 2px solid white;
  padding: 0 0.45rem;
}
.header__top #header-logo small {
  font-size: 0.5rem;
}
.header__top .header-search {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
  border-bottom: 1px solid grey;
  margin-left: 1.5rem;
}
.header__top .header-search--input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 0.5rem;
}
.header__top .header-search--select {
  height: 100%;
  border: none;
  outline: none;
  color: #555;
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  background-color: white;
  width: 100%;
}
.header__top .header-search .categories {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.header__top .header-search .categories:hover > * {
  color: red;
}
.header__top .header-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.header__top .header-links--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  list-style: none;
  text-decoration: none;
  height: 100%;
  padding-right: 1rem;
  color: #555;
}
.header__top .header-links--nav .header-link {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 0.35rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__top .header-links--nav .header-link:hover, .header__top .header-links--nav .header-link:hover > * {
  color: #e60012;
  transition: all 0.3s ease-in-out;
}
.header__bottom {
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header__bottom--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: #555;
}
.header__bottom--item > * {
  transition: all 0.3s ease-in-out;
}
.header__bottom--item .header__checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.header__bottom--item .dropdown-icon {
  margin-right: 0.5rem;
}
.header__bottom--item .dropdown-caret {
  font-size: 1.25rem;
  margin-left: 0.2rem;
}
.header__bottom--item .header__checkbox:checked ~ .dropdown-caret {
  transform: rotate(180deg);
}
.header__bottom--item .header__checkbox:checked ~ * {
  color: red;
}
.header__bottom--item:hover > * {
  color: red;
}

.header__dropdown {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 99 !important;
  transition: all 0.3s ease-in-out;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  padding-top: 2rem;
}
.header__dropdown .dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: auto;
  height: 8rem;
  background: white;
  color: #555;
  cursor: pointer;
}
.header__dropdown .dropdown-item > * {
  transition: all 0.3s ease-in-out;
}
.header__dropdown .dropdown-item:hover > * {
  color: red;
}
.header__dropdown .dropdown-item:hover .dropdown-item--icon {
  border: 1px solid red;
  background-color: red;
  color: white;
}
.header__dropdown .dropdown-item--icon {
  width: 5rem;
  height: 3rem;
  padding: 1rem 1.25rem;
  font-size: 2.5rem;
  border: 1px solid #888;
}
.header__dropdown .dropdown-item > p {
  width: 100%;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.header__dropdown--active {
  transform: translateY(7rem) !important;
}

.dropdown-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.25);
  z-index: 98;
  display: none;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.dropdown-container--active {
  display: flex;
  opacity: 100;
}

.footer {
  height: 40rem;
  width: 100%;
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer__bar {
  height: 20%;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__bar--socials {
  font-size: 2.15rem;
  margin-right: 5rem;
  color: white;
  display: flex;
  gap: 2rem;
}
.footer__links {
  padding: 1rem;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem;
  margin-bottom: 5rem;
}
.footer__links > .box {
  box-sizing: border-box;
  border-left: 1px solid rgba(85, 85, 85, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
}
.footer__links > .box .footer__links--link {
  padding: 0;
  width: 75%;
  hyphens: auto;
}
.footer__links > .box .footer__links--link:hover {
  color: rgb(162, 0, 0);
  text-decoration: underline;
}
.footer__links > .box:first-child {
  border-left: 1px solid transparent;
}
.footer__bottom {
  height: 15%;
  width: 100%;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
  font-weight: 200;
  color: white;
  padding: 0 3rem 0 3rem;
}
.footer__bottom--links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.nintendo-logo {
  color: white;
  background-color: red;
  font-size: attr(data-size) rem;
  font-weight: 600;
  position: relative;
  padding: 0px 1rem;
  border-radius: 50rem;
  border: 4px solid white;
  margin-left: 5rem;
}
.nintendo-logo small {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 0.75rem;
}

.display-container {
  margin-top: 3rem;
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
}

.display-background {
  height: 80%;
  width: 100%;
  background-color: #d6f0fa;
  position: relative;
  margin-bottom: 50rem;
}

.display {
  background-color: white;
  height: 100%;
  width: 80%;
  max-width: 80rem;
  max-height: 50rem;
  transform: translateY(5rem);
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.display__path {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  height: 3rem;
  width: 90%;
}
.display__game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85%;
  width: 90%;
}
.display__game--photos {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.display__game--photos .container {
  position: relative;
  width: 100%;
  height: 65%;
  border-radius: 0.2rem;
  overflow: hidden;
}
.display__game--photos .container .img {
  object-fit: cover;
}
.display__game--photos .display__slider {
  height: 3.75rem;
  background-color: lightblue;
  width: 100%;
  overflow: hidden;
}
.display__game--photos .rating {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.display__game--photos .rating .rating-photo {
  position: relative;
  aspect-ratio: 11/16;
}
.display__game--photos .rating .rating-photo .img {
  object-fit: cover;
}
.display__game--photos .rating .rating-text {
  width: 65%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.85rem !important;
}
.display__game--photos .rating .rating-text p {
  padding: 0.25rem;
}
.display__game--photos .rating .rating-text p:first-child {
  border-bottom: 1px solid #888;
}
.display__game--info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #555;
}
.display__game--info .system {
  font-size: 1rem;
  font-weight: 300;
  border-left: 2px solid red;
  padding-left: 0.5rem;
  line-height: 1rem;
}
.display__game--info .title {
  font-size: 1.8rem;
  font-weight: 500;
}
.display__game--info .price {
  justify-content: space-between;
}
.display__game--info .price .price-price {
  font-weight: 400;
  font-size: 1.65rem;
}
.display__game--info .price .heart-container {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.display__game--info .price .heart-container .heart {
  color: red;
  width: 100%;
  height: 100%;
  position: relative;
}
.display__game--info .points {
  height: 2rem;
  align-items: center;
  gap: 0.5rem;
}
.display__game--info .points .container {
  position: relative;
  height: 100%;
  width: 2rem;
}
.display__game--info .points .eligible {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}
.display__game--info .btn-container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display__game--info .btn-container .btn__download {
  height: 3.75rem;
  width: 96%;
  align-self: center;
  border: none;
  background-color: red;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem 0rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.05s ease-in-out;
}
.display__game--info .btn-container .btn__download:hover {
  animation: wobbleGrow 0.5s ease-in-out;
  width: 100%;
  height: 4.25rem;
  background-color: rgb(154, 0, 0);
}
.display__game--info .btn-container .btn__download:active {
  transform: translateY(2px);
}

@keyframes wobbleGrow {
  0% {
    width: 96%;
    height: 3.75rem;
  }
  50% {
    width: 100%;
    height: 4rem;
  }
  60% {
    width: 98%;
    height: 3.75rem;
  }
  100% {
    width: 100%;
    height: 4.25rem;
    background-color: rgb(154, 0, 0);
  }
}
@keyframes dip {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slider-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in-out;
  gap: 0.75rem;
}
.slider .slide {
  width: auto;
  height: 100%;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  aspect-ratio: 16/9;
  margin: 0;
  padding: 0;
}
.slider .slide__img {
  object-fit: contain;
}
.slider__btn {
  position: absolute;
  height: 100%;
  top: 0;
  width: 4rem;
  background: rgb(0, 0, 0);
  opacity: 0.35;
  color: white;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.slider__btn--right {
  right: 0;
}
.slider__btn--left {
  left: 0;
}
.slider__btn:hover {
  opacity: 0.75;
}

.about-container {
  height: 35rem;
  width: 100%;
}

.about {
  height: auto;
  width: 75%;
  margin: 0 auto;
  min-height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about__info {
  width: 50%;
  height: auto;
}
.about__info .about__text {
  height: 20rem;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  color: #555;
}
.about__info .about__text p {
  width: 95%;
  text-overflow: ellipsis;
  display: block;
}
.about__info .about__text p:first-child {
  margin-bottom: 2rem;
}
.about__info .about__text p:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.about__photo {
  width: 50%;
  position: relative;
  height: 20rem;
}
.about__photo .img {
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
